<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <h1><a href="/"><img src="http://dnbdirectapps.com/static/img/logo-dnb.gif" alt="Dun &amp; Bradstreet"></a></h1>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <div id="header-btns"><button type="button" class="btn btn-primary same-window" data-url="/register">Test Drive Our API</button></div>
        </div>
    </div>
</div>
<div class="full-bg-dark">
    <div class="container">
        <div class="row">
            <ul class="navbar" ng-controller="DropdownCtrl">
                <li class="logo"><img src="http://dnbdirectapps.com/static/img/logo-direct.png"></li>
                <li class="dropdown" on-toggle="toggled(open)">
                      <a href="#" class="dropdown-toggle">
                            SOLUTIONS <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                           <li>((mega menu))</li>
                      </ul>
                </li>
                <li><a href="#app-center">APP CENTER</a></li>
                <li class="dropdown" on-toggle="toggled(open)">
                      <a href="#" class="dropdown-toggle">
                            DATA EXCHANGE <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                           <li>((mega menu))</li>
                      </ul>
                </li>
                <li class="dropdown" on-toggle="toggled(open)">
                      <a href="#" class="dropdown-toggle">
                            DOCUMENTATION <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                           <li>((mega menu))</li>
                      </ul>
                </li>
                <li class="dropdown" on-toggle="toggled(open)">
                      <a href="#" class="dropdown-toggle">
                            SUPPORT <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                           <li>((mega menu))</li>
                      </ul>
                </li>
                <li><a href="#customers">CUSTOMERS</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="full-bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <a href="#showcase">SHOWCASE SETS</a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="#singles">SINGLES</a>
            </div>
            <div class="col-md-4 col-xs-2">
                <a href="#mixer">MIX YOUR OWN</a>
            </div>
            <div class="col-md-2 col-xs-6 text-right">
                <i class="fa fa-phone fa-lg"></i> (866) 281-9168
            </div>
            <div class="col-md-2 col-xs-6 text-right">
                <i class="fa fa-envelope-o fa-lg"></i> Share by email
            </div>
        </div>
    </div>
</div>

