<div class="container"  ng-controller="singlesController">
    <div class="row">

        <div class="col-md-3 col-sm-3 side-column">
            <select name="q" class="form-control" placeholder="Select a tag"/>
                <option>filter by tag</option><option>Company Data</option><option>Industry Data</option><option>Person Data</option><option>Family Tree</option><option>First Research</option><option>Full Company Profile</option><option>News Information</option><option>Web Widgets</option>
            </select>

            <br />

            <div class="form-group">
                <input class="form-control" type="text" id="query" data-ng-model="query" placeholder="Enter search term">
            </div>

            <ul class="widget-list">
                <li data-ng-repeat="item in group | filter: query" class="widget-list">
                    <a href="#" ng-click="showDetail(item)">{{item.name}}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-9">
            <div ng-show="itemSelected">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <h3>{{itemSelected.name}}</h3>
                        <p>{{itemSelected.description}}</p>
                    </div>
                    <div class="col-md-3 col-sm-3 text-right">
                        <h4>Tags</h4>
                        <ul>
                            <li ng-repeat="t in itemSelected.tags">
                                {{t}}
                            </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margtop20">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-download fa-fw"></i> Download Code</button>
                        </div>
                        <tabset>
                            <tab heading="Display" active="tab.active" >
                                Display
                            </tab>
                            <tab heading="Showcase">

                            </tab>
                            <tab heading="CSS">
                                more css goes here
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
